
@{
    ViewBag.Title = "Quản lí nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        Quản lí nhân viên
    </h1>
</section>

<section class="content">
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="tableContent" class="box-body table-responsive">
                        <div class="nav-tabs-custom">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_2">

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="tab_3">

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>

                        <div>

                            <div style="background-color:white" class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search well well-sm fillter searchForm">

                                <div class="form-row col-md-12" style="margin-top:15px">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-group">
                                            <input id="txtKeySearch" placeholder="Nhập từ khóa ..." class="form-control" value="">
                                        </div>

                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="btnSearch" type="button"><i class="fa fa-search"></i>Lọc</button>
                                            &nbsp;
                                            <button id="btnResetFilter" type="button" class="btn btn-default ng-binding"><i class="fa fa-remove"></i>Bỏ lọc</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <br />
                            <br />
                        </div>
                        @{
                            if (User.IsInRole("PartnerAdmin"))
                            {
                                <button id="btnAdd" class="btn bg-purple margin">Thêm tài khoản</button>
                            }
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr style="background-color:#ddd;text-align:center;vertical-align: middle;">
                                    @*<td><b>Mã khách hàng</b></td>*@
                                    <td><b>Tên</b></td>
                                    <td><b>Tên đăng nhập</b></td>
                                    <td><b>Email</b></td>
                                    <td><b>Số điện thoại</b></td>
                                    <td><b>Địa chỉ</b></td>
                                    <td><b>Ví trị</b></td>
                                    <td><b>Chi nhánh</b></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="tblData"></tbody>
                        </table>
                        <div style="" id="pagination" class="pagination">
                        </div>
                    </div>

                </div>
                <!-- ./box-body -->
            </div>
        </div>
    </div>
</section>

@{
    Html.RenderPartial("_PartialCreateUpdateStaff");
    Html.RenderPartial("_ParitalResetPassword");
}


<script id="data-template" type="x-tmpl-mustache">
    <tr style="text-align:center;vertical-align: middle;">
        <td>{{FullName}}</td>
        <td>{{Username}}</td>
        <td>{{Email}}</td>
        <td>{{PhoneNumber}}</td>
        <td>{{Address}}</td>
        <td>{{Roles}}</td>
        <td>{{Shop}}</td>
        <td><button class="btn btn-primary btn-edit" data-id="{{Id}}"><i class="fa fa-pencil-square-o"></i></button></td>
    </tr>
</script>

<script>
    var homeconfig = {
        pageSize: 10,
        pageIndex: 1,
        allShops: [],
    };

    var staffController = {

        run: function () {
            staffController.getAllRoles();
            staffController.getAllShops();
            staffController.loadData();
            staffController.registerEvent();
        },
        // register event for elements
        registerEvent: function () {
            // event for search button,



            $('#txtKeySearch').off('keypress').on('keypress', function (e) {
                if (e.keyCode === 13) {
                    homeconfig.pageIndex = 1;
                    staffController.loadData(true);
                }
            });

            $('#btnSearch').off('click').on('click', function () {
                homeconfig.pageIndex = 1;
                staffController.loadData(true);
            });

            $('#btnResetFilter').off('click').on('click', function () {
                $('#txtKeySearch').val('');
                homeconfig.pageIndex = 1;
                staffController.loadData(true);
            });

            $('.btnDetail').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#detail_' + id).show();
            });

            $('.btnCloseDetail').off('click').on('click', function () {
                var id = $(this).data('id');
                $('#detail_' + id).hide();
            });

            $('#btnAdd').off('click').on('click', function () {
                staffController.resetParitalView();
                $('#lblTitle').text('Thêm tài khoản');
                $('#addOrUpdateStaffModal').modal('show');
            });

            $('#btnSave').off('click').on('click', function () {
                var data = {
                    UserId: $('#txtHiddenId').val(),
                    Username: $('#txtUsername').val(),
                    Password: $('#txtPassword').val(),
                    RoleId: $('#ddlRoles').val(),
                    FullName: $('#txtFullName').val(),
                    PhoneNumber: $('#txtPhoneNumber').val(),
                    Address: $('#txtAddress').val(),
                    ConfirmPassword: $('#txtConfirmPassword').val(),
                    ShopId: $('#ddlShops').val(),
                    Email: $('#txtEmail').val()
                };
                console.log(data);
                staffController.saveData(data);
            });

            $('#ddlRoles').off('change').on('change', function () {
                var role = $(this).find(":selected").data('name');
                if (role == 'PartnerAdmin' || role == 'Partner') {
                    $('#shopDiv').hide();
                }
                else {
                    $('#shopDiv').show();
                }
            })
            $('.btn-edit').off('click').on('click', function () {
                var id = $(this).data('id');
                staffController.resetParitalView();
                $('#btnChangePassword').show();
                staffController.loadDetail(id);
            });

            $('#btnChangePassword').off('click').on('click', function () {
                $('#divChangePassword').show();
            })

            $('#btnUpdatePassword').off('click').on('click', function () {
                var data = {
                    Username: $('#txtUsername').val(),
                    Password: $('#txtNewPassword').val(),
                    ConfirmPassword: $('#txtCofirmNewPassword').val()
                }

                staffController.updatePassword(data);
            })

        },
        loadData: function (changePageSize) {

            $.ajax({
                url: '/staff/GetAllUserWithPaging',
                type: 'get',
                dataType: 'json',
                data: {
                    pageSize: homeconfig.pageSize, pageIndex: homeconfig.pageIndex,
                    keyword: $('#txtKeySearch').val()
                },
                success: function (res) {
                    if (res.status) {
                        var data = res.data;
                        var html = '';
                        var template = $('#data-template').html();
                        $.each(data.Items, function (i, item) {
                            html += Mustache.render(template, {
                                Id: item.UserId,
                                FullName: item.FullName,
                                Username: item.Username,
                                PhoneNumber: item.PhoneNumber,
                                Address: item.Address,
                                Roles: item.Roles,
                                Shop: item.Shop,
                                Email: item.Email
                            });

                        });
                        $('#tblData').html(html);
                        try {
                            staffController.paging(data.TotalRows, function () {
                                staffController.loadData();
                            }, changePageSize);
                        } catch (e) {

                        }

                        staffController.registerEvent();
                    }
                }
            });

        },
        saveData: function (data) {
            if (data.UserId.trim() == '') {
                $.ajax({
                    url: '/Account/Register',
                    type: 'post',
                    dataType: 'json',
                    data: { model: data },
                    success: function (res) {
                        if (res.status) {
                            $('#addOrUpdateStaffModal').modal('hide');
                            toastr.success(res.message, "Kết quả");
                            staffController.loadData(true);

                        } else {
                            toastr.error(res.errorMessage, "Lỗi");
                        }
                    }
                });
            } else {
                $.ajax({
                    url: '/Account/Update',
                    type: 'post',
                    dataType: 'json',
                    data: { model: data },
                    success: function (res) {
                        if (res.status) {
                            $('#addOrUpdateStaffModal').modal('hide');
                            toastr.success(res.message, "Kết quả");
                            staffController.loadData();
                        } else {
                            toastr.error(res.errorMessage, "Lỗi");
                        }
                    }
                })
            }
        },
        resetParitalView: function () {
            $('#txtHiddenId').val('');
            $('#txtUsername').val('');
            $('#txtPassword').val('');
            $('#txtConfirmPassword').val('');
            $('#shopDiv').show();
            $('#txtFullName').val('');

            $('#txtPhoneNumber').val('');
            $('#txtAddress').val('');
            $('#txtEmail').val('');
            $('#passwordDiv').show();
            $('#confirmPasswordDiv').show();
            $('#txtUsername').removeAttr('readonly');
            $('#ddlShops').val('').change();
            $('#divChangePassword').hide();
            $('#btnChangePassword').hide();
        },
        loadDetail: function (id) {
            $.ajax({
                url: '/Staff/GetById',
                type: 'post',
                data: {id : id},
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        $('#passwordDiv').hide();
                        $('#confirmPasswordDiv').hide();
                        var data = res.data;
                        $('#txtHiddenId').val(id);
                        $('#txtUsername').val(data.Username);
                        $('#txtUsername').attr('readonly', 'readonly');
                        try {
                            $('#ddlShops').val(data.ShopId).change();
                        } catch (e) {

                        }

                        try {
                            $('#ddlRoles').val(data.RoleId).change();
                        } catch (e) {

                        }

                        $('#txtFullName').val(data.FullName);

                        $('#txtPhoneNumber').val(data.PhoneNumber);
                        $('#txtAddress').val(data.Address);
                        $('#txtEmail').val(data.Email);

                        $('#lblTitle').text('Cập nhật tài khoản');
                        $('#addOrUpdateStaffModal').modal('show');
                        
                        console.log(data);
                    }
                }
            })
        },
        paging: function (totalRow, callback, changePageSize) {
            var totalPage = Math.ceil(totalRow / homeconfig.pageSize);
            //Unbind pagination if it existed or click change pagesize
            if ($('#pagination a').length === 0 || changePageSize === true) {
                $('#pagination').empty();
                $('#pagination').removeData("twbs-pagination");
                $('#pagination').unbind("page");
            }
            $('#pagination').twbsPagination({
                totalPages: totalPage,
                first: "Đầu",
                next: "Tiếp",
                last: "Cuối",
                prev: "Trước",
                visiblePages: 10,
                onPageClick: function (event, page) {
                    homeconfig.pageIndex = page;
                    setTimeout(callback, 200);
                }
            });
        },
        getAllRoles: function () {
            $.ajax({
                url: '/Common/GetAllRoles',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        var allRoles = res.data;
                        var html = '';
                        html += '<option value = ""> -- Chọn vị trí --</option>' 
                        $.each(allRoles, function (i, item) {
                            html += '<option data-name ="' + item.Name + '" value="' + item.RoleId + '">' + item.Description + '</option>'; 
                        });
                        $('#ddlRoles').html(html);

                    }
                }
            })
        },
        getAllShops: function () {
            $.ajax({
                url: '/Shop/GetAllShops',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        var allRoles = res.data;
                        var html = '';
                        html += '<option value = ""> -- Chọn chi nhánh --</option>'
                        $.each(allRoles, function (i, item) {
                            html += '<option value="' + item.Id + '">' + item.Name + '</option>';
                        });
                        $('#ddlShops').html(html);

                    }
                }
            })
        },
        updatePassword: function (data) {
            $.ajax({
                url: '/Account/ResetPassword',
                type: 'post',
                dataType: 'json',
                data: { model: data },
                success: function (res) {
                    if (res.status) {
                        toastr.success(res.message, "Kết quả");
                        $('#divChangePassword').hide();
                    

                    } else {
                        toastr.error(res.errorMessage, "Lỗi");
                    }
                }
            });
        }
        
    };
    staffController.run();


</script>