
<section id="about-section" class="about-section">
    <div class="about-wrapper">
        <div class="container">
            <div class="flex-box">
                <div class="about-text">
                    <h1 class="title">
                        Về chúng tôi
                    </h1>
                    <p class="desc">
                        Tâm nguyện mang đến cho mọi người một không gian thoải mái và ấm áp phù hợp với nhiều nhu cầu. 
                        Đến với chúng tôi để học tập và làm việc, để cùng nhau tạo nên những khoảnh khắc vui vẻ bên gia đình với những trò chơi tập thể, hay đơn giản là thưởng thức 1 ly cà phê thơm ngon,..
                        Với thời gian mở của 24/7, COF hi vọng sẽ cùng bạn chào đón ngày mới và đồng hành cùng bạn mỗi khi đêm về.
                    </p>
                </div>
                <div class="helper"></div>
            </div>

        </div>
    </div>
</section>