
<section class="feature-section">
    <div class="feature-wrapper">
        <div class="container">
            <ul class="flex-box">
                <li class="feature-item col-2">
                    <img class="feature-figure"
                         src="~/asset/img/f-love.svg" />
                    <h3 class="feature-title">Love</h3>
                    <p class="feature-subtitle">
                        Lorem ipsum dolor sit
                        amet, consectetur adipiscing
                    </p>
                </li>
                <li class="feature-item col-2">
                    <img class="feature-figure"
                         src="~/asset/img/f-friend.svg" />
                    <h3 class="feature-title">Friend</h3>
                    <p class="feature-subtitle">
                        Lorem ipsum dolor sit
                        amet, consectetur adipiscing
                    </p>
                </li>
                <li class="feature-item col-2">
                    <img class="feature-figure"
                         src="~/asset/img/f-fam.svg" />
                    <h3 class="feature-title">Family</h3>
                    <p class="feature-subtitle">
                        Lorem ipsum dolor sit
                        amet, consectetur adipiscing
                    </p>
                </li>
                <li class="feature-item col-2">
                    <img class="feature-figure"
                         src="~/asset/img/f-enjoy.svg" />
                    <h3 class="feature-title">Enjoy</h3>
                    <p class="feature-subtitle">
                        Lorem ipsum dolor sit
                        amet, consectetur adipiscing
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>