
<section id="contact-section" class="contact-section">
    <div class="section-title">
        <h1>Liên hệ</h1>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="cof-info flex-box">
            <div class="contact-info col-45">
                <div class="brand-wrapper">
                    <a href="./" class="logo-link">
                        <img class="logo-vector"
                             src="~/asset/img/cof-cafe.svg" />
                    </a>
                </div>
                <ul class="info-list">
                    <li class="info-item">
                        <img src="~/asset/img/address.svg" />
                        <span>
                            Lô 46 công viên phần mềm Quang Trung, quận 12, thành phố Hồ Chí Minh
                        </span>
                    </li>
                    <li class="info-item">
                        <img src="~/asset/img/call.svg" />
                        <span>0931889882</span>
                    </li>
                    <li class="info-item">
                        <img src="~/asset/img/email.svg" />
                        <span>cof.coffeeshop@gmail.com</span>
                    </li>
                </ul>
                <div class="map-box" style="background-image:
                            url(~/asset/img/map.png)">

                </div>
            </div>
            <div class="cof-fb col-4">
                <h3 class="cof-fb-title">COF trên Facebook</h3>
                <div class="fb-page"
                     data-href="https://www.facebook.com/COF-1904577266311069/"
                     data-tabs="timeline" data-width="400"
                     data-height="500" data-small-header="false"
                     data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/COF-1904577266311069/"
                                class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/COF-1904577266311069/">
                            COF
                            
                        </a>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © COF Cafe 2019</p>
        </div>
    </div>
</footer>

<div id="gallery-modal" class="modal">
    <div class="modal-content">
        <div class="close-action close-modal">
            <img class="btn-icon" src="~/asset/img/close.svg" />
        </div>
        <div class="modal-body">
            <div class="gallery-img-wrapper">
                <img class="gallery-img" src="~/asset/img/cof-1.jpg" />
            </div>

        </div>
    </div>
</div>