
<section id="gallery-section" class="gallery-section">
    <div class="container">
        <div class="section-title">
            <h1>Hình ảnh tại COF</h1>
        </div>
        <div class="section-content">
            <div class="gallery-slider owl-carousel">
                <div class="gallery-wrapper">
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-1.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>

                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-3.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-4.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset//img/cof-5.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-6.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                </div>
                <div class="gallery-wrapper">
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-1.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>

                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-2.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-3.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-4.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-5.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-6.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="gallery-section" class="gallery-section">
    <div class="container">
        <div class="section-title">
            <h1>Hình ảnh tại COF</h1>
        </div>
        <div class="section-content">
            <div class="gallery-slider owl-carousel">
                <div class="gallery-wrapper">
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-1.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>

                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset//img/cof-3.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-4.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset//img/cof-5.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-6.jpg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                </div>
                <div class="gallery-wrapper">
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-1.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>

                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-2.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-3.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                    <div class="gallery-row flex-box">
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-4.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-5.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                        <figure class="gallery-figure"
                                style="background-image:
                                    url('asset/img/cof-2-6.jpeg')">
                            <span class="zoom-btn open-modal" target="#gallery-modal">
                                <img src="asset//img/zoom.svg" />
                            </span>
                        </figure>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>