@*@{

        var allDatas = Session[COF.UserWeb.Constants.CommonConstants.CartSession] as List<COF.UserWeb.Models.ShoppingCartViewModel>;
        allDatas = allDatas != null ? allDatas : new List<COF.UserWeb.Models.ShoppingCartViewModel>();
        var groupByData = allDatas.GroupBy(x => x.ProductId).ToList();
    }*@
<header class="header">
    <div class="flex-box v-center container">
        <div id="open-nav" class="hamburger-menu">
            <a class="hamburger-btn"></a>
        </div>
        <div class="brand-wrapper">
            <a href="./" class="logo-link">
                <img class="logo-vector"
                     src="~/asset/img/cof-cafe.svg" />
            </a>

        </div>
        <div id="header-nav" class="nav-wrapper flex-box v-center">
            <ul class="nav">
                <li class="nav-item scroll-to"
                    target=".menu-section">
                    <a class="nav-link" href="#menu-section">Menu</a>
                </li>
                <li class="nav-item scroll-to"
                    target=".about-section">
                    <a class="nav-link" href="#about-section">
                        Về Chúng
                        Tôi
                    </a>
                </li>
                <li class="nav-item scroll-to"
                    target=".gallery-section">
                    <a class="nav-link" href="#gallery-section">Hình Ảnh</a>
                </li>

                <li class="nav-item scroll-to"
                    target=".contact-section">
                    <a class="nav-link" href="#contact-section">Liên hệ</a>
                </li>


            </ul>
            <div id="close-nav" class="close-nav _hide">
                <img class="icon-img" src="~/asset/img/close.svg" />
            </div>
        </div>
        <div class="header-action-container">
            <div class="header-action">
                <a href="#" class="user-link">
                    <span>Đăng nhập</span>
                    <img class="icon-img" src="~/asset/img/user.svg" />
                </a>

            </div>
            <div class="cart-action _headerCart">

            </div>
        </div>

    </div>
</header>


<section class="head-banner">
    <div class="head-wrapper" style="background-image:
                url('asset/img/home-banner.jpg')">
        <div class="head-text">
            <h1 class="title">Life Begins with Coffee</h1>
            <p class="subtitle">
                Cùng COF khởi đầu ngày mới tràn đầy năng lượng bạn nhé.
            </p>
        </div>
        <a class="discover-btn">
            <span class="scroll-indicator"></span>
            <span>Khám phá</span>
        </a>
    </div>
</section>