<header class="header">
    <div class="flex-box v-center container">
        <div id="open-nav" class="hamburger-menu">
            <a class="hamburger-btn"></a>
        </div>
        <div class="brand-wrapper">
            <a href="./" class="logo-link">
                <img class="logo-vector"
                     src="~/asset/img/cof-cafe.svg" />
            </a>

        </div>
        <div id="header-nav" class="nav-wrapper flex-box v-center">
            <ul class="nav">
                <li class="nav-item scroll-to"
                    target=".menu-section">
                    <a class="nav-link" href="#menu-section">Menu</a>
                </li>
                <li class="nav-item scroll-to"
                    target=".about-section">
                    <a class="nav-link" href="#about-section">
                        Về Chúng
                        Tôi
                    </a>
                </li>
                <li class="nav-item scroll-to"
                    target=".gallery-section">
                    <a class="nav-link" href="#gallery-section">Hình Ảnh</a>
                </li>

                <li class="nav-item scroll-to"
                    target=".contact-section">
                    <a class="nav-link" href="#contact-section">Liên hệ</a>
                </li>


            </ul>
            <div id="close-nav" class="close-nav _hide">
                <img class="icon-img" src="~/asset/img/close.svg" />
            </div>
        </div>
        <div class="header-action-container">
            <div class="header-action">
                <a href="#" class="user-link">
                    <span>Đăng nhập</span>
                    <img class="icon-img" src="~/asset/img/user.svg" />
                </a>

            </div>
            <div class="cart-action header-action">
                <a class="cart-btn">
                    <img class="icon-img" src="~/asset/img/bag.svg" />
                    <span class="cart-badge">3</span>
                </a>
                <div class="drop-list">
                    <ul class="cart-list">
                        <li class="item">
                            <figure class="item-img"
                                    style="background-image:
                                        url('~/asset/img/dx-matcha.jpg')"></figure>
                            <div class="item-info">
                                <p class="name">Matcha đá xay</p>
                                <p class="en-name">Black Coffee</p>
                            </div>
                            <p class="price">22.000đ</p>
                        </li>
                        <li class="item">
                            <figure class="item-img"
                                    style="background-image:
                                        url('~/asset/img/dx-matcha.jpg')"></figure>
                            <div class="item-info">
                                <p class="name">Matcha đá xay</p>
                                <p class="en-name">Black Coffee</p>
                            </div>
                            <p class="price">22.000đ</p>
                        </li>
                        <li class="item">
                            <figure class="item-img"
                                    style="background-image:
                                        url('~/asset/img/dx-matcha.jpg')"></figure>
                            <div class="item-info">
                                <p class="name">Matcha đá xay</p>
                                <p class="en-name">Black Coffee</p>
                            </div>
                            <p class="price">22.000đ</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</header>

<section class="head-banner">
    <div class="head-wrapper" style="background-image:
                url('asset/img/home-banner.jpg')">
        <div class="head-text">
            <h1 class="title">Life Begins with Coffee</h1>
            <p class="subtitle">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Dummy text of the
                printing and typesetting industry.
            </p>
        </div>
        <a class="discover-btn">
            <span class="scroll-indicator"></span>
            <span>Khám phá</span>
        </a>
    </div>
</section>