
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale= 1;
            user-scalable= no;" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta name="format-detection" content="telephone=no"> -->
    <title>COF Cafe</title>
    <link href="~/asset/img/CofIcon.png" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="stylesheet/main.css" />
    <link rel="stylesheet" href="plugins/owl.carousel.min.css" />
    <link rel="stylesheet" href="plugins/owl.theme.default.min.css" />
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="plugins/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

    <script src="~/Content/toastr/toastr.min.js"></script>


</head>
<body>
    @Html.Partial("_HeaderPartial")



    @{Html.RenderAction("AllProducts", "Home");}
    <!--END HEAD BANNER-->
    <!--END MENU SECTION-->
    @Html.Partial("_FeaturePartial")
    <!--END FEATURE SECTION-->
    @Html.Partial("_AboutPartial")
    <!--END ABOUT SECTION-->
    @Html.Partial("_GalleryPartial")
    <!--END GALLERY SECTION-->

    <section id="contact-section" class="contact-section">
        <div class="section-title">
            <h1>Liên hệ</h1>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="cof-info flex-box">
                <div class="contact-info col-45">
                    <div class="brand-wrapper">
                        <a href="./" class="logo-link">
                            <img class="logo-vector"
                                 src="~/asset/img/cof-cafe.svg" />
                        </a>
                    </div>
                    <ul class="info-list">
                        <li class="info-item">
                            <img src="~/asset/img/address.svg" />
                            <span>
                                Lô 46 công viên phần mềm Quang Trung, quận 12, thành phố Hồ Chí Minh
                            </span>
                        </li>
                        <li class="info-item">
                            <img src="~/asset/img/call.svg" />
                            <span>0931889882</span>
                        </li>
                        <li class="info-item">
                            <img src="~/asset/img/email.svg" />
                            <span>cof.coffeeshop@gmail.com</span>
                        </li>
                    </ul>
                    <div class="map-box" style="background-image:
                            url(~/asset/img/map.png)">

                    </div>
                </div>
                <div class="cof-fb col-4">
                    <h3 class="cof-fb-title">COF trên Facebook</h3>
                    <div class="fb-page"
                         data-href="https://www.facebook.com/COF-1904577266311069/"
                         data-tabs="timeline" data-width="400"
                         data-height="500" data-small-header="false"
                         data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/COF-1904577266311069/"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/COF-1904577266311069/">
                                COF

                            </a>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © COF Cafe 2019</p>
            </div>
        </div>
    </footer>

    <div id="gallery-modal" class="modal">
        <div class="modal-content">
            <div class="close-action close-modal">
                <img class="btn-icon" src="~/asset/img/close.svg" />
            </div>
            <div class="modal-body">
                <div class="gallery-img-wrapper">
                    <img class="gallery-img" src="~/asset/img/cof-1.jpg" />
                </div>

            </div>
        </div>
    </div>
    <div id="fb-root"></div>

    <div id="cart-modal" class="cart-modal modal">

    </div>

    <div class="input-info-modal modal" id="checkout-info">
        <div class="modal-content">
            <div class="modal-head">
                Thông tin thanh toán
            </div>
            <div class="modal-body">
                <div class="textfield">
                    <input type="text" placeholder="Tên của bạn" id="txtCustomerName">
                </div>
                <div class="textfield">
                    <input type="number" placeholder="Số điện thoại" id="txtCustomerPhoneNumber">
                </div>
                <div class="textfield">
                    <input type="text" placeholder="Địa chỉ" id="txtCustomerAddress">
                </div>
                <div class="textfield">
                    <textarea placeholder="Ghi chú" id="txtCustomerNote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-flat close-modal">Đóng</a>
                <a class="btn-primary" id="btnSubmit">Đặt Hàng</a>
            </div>
        </div>
    </div>
</body>



</html>
<script src="~/js/main.js"></script>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
<script>


    $('.gallery-slider').owlCarousel({
        items: 1,
        autoplay: false,
        loop: true,
        margin: 50,
        nav: true
    });
</script>
<script>
    var baseController =
    {
        initialize: function () {
            baseController.registerEvents();
            baseController.loadHeaderCart();
        },

        registerEvents: function () {
            $('.add-to-cart-hoang').off('click').on('click', function (e) {
                var id = $(this).data('id');
                var size = $(this).val();
                $.ajax({
                    url: '/Cart/AddToCart',
                    type: 'post',
                    data: {
                        productId: id,
                        quantity: 1,
                        size: size
                    },
                    success: function (response) {
                        toastr.success("Đã thêm một sản phẩm.");
                        baseController.loadHeaderCart();
                        baseController.loadCartDetail();
                    }
                });
            });


            $('body').on('click', '.remove-cart', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                $.ajax({
                    url: '/Cart/RemoveFromCart',
                    type: 'post',
                    data: {
                        productId: id
                    },
                    success: function (response) {
                        tedu.notify(resources["RemoveCartOK"], 'success');
                        loadHeaderCart();
                    }
                });
            });

            $('#btnViewCartDetail').off('click').on('click', function (e) {
                
                baseController.loadCartDetail();
               
            })

            $('#btnSubmit').off('click').on('click', function () {
                baseController.submitOrder();
            });
        },
        loadHeaderCart: function () {
            $.ajax({
                url: '/Cart/HeaderCart',
                type: 'POST',
                success: function (res) {

                    $("._headerCart").html(res.html);
                    baseController.registerEvents();

                }
            });

        },
        loadCartDetail: function () {
            $.ajax({
                url: '/Cart/CartDetail',
                type: 'POST',
                success: function (res) {
                   
                    $("#cart-modal").html(res.html);
                    $('#btnViewCartDetail').attr('target', '#cart-modal');
                   
                    

                }
            });

        },
        submitOrder: function () {
            $.LoadingOverlay("show");
            var data = {
                Name: $('#txtCustomerName').val(),
                PhoneNumber: $('#txtCustomerPhoneNumber').val(),
                Address: $('#txtCustomerAddress').val(),
                Note: $('#txtCustomerNote').val()
            };

            $.ajax({
                url: '/Cart/SubmitOrderInfo',
                type: 'post',
                data: { model: data },
                success: function (res) {
                    if (res.Success) {
                        toastr.success("Tạo mới đơn hàng thành công.");
                        document.location.reload();
                    }
                    $.LoadingOverlay("hide");
                }
            })
        }
    };

    $(document).ready(function () {
        baseController.initialize();
    })
</script>


