
@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var allShops = TempData["Shops"] as List<COF.BusinessLogic.Models.Shop.ShopModel>;
}

<script src="~/Content/bower_components/Flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="~/Content/bower_components/Flot/jquery.flot.resize.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="~/Content/bower_components/Flot/jquery.flot.pie.js"></script>
<!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
<script src="~/Content/bower_components/Flot/jquery.flot.categories.js"></script>
<script src="~/Content/bower_components/moment/min/moment.min.js"></script>
<!-- bootstrap datepicker -->
<script src="~/Content/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- bootstrap color picker -->
<script src="~/Content/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="~/Content/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
<!-- Bootstrap time Picker -->


<link rel="stylesheet" href="~/Content/bower_components/morris.js/morris.css">
<script src="~/Content/bower_components/raphael/raphael.min.js"></script>
<script src="~/Content/bower_components/morris.js/morris.min.js"></script>
<!-- FastClick -->

<style>
    .dropdown-menu li.active {
        background-color: #08c;
        border: 1px solid #08c;
        color: #fff;
    }
</style>
<section class="content-header">
    <h1>
       THỐNG KÊ
    </h1>
   
</section>



<section class="content">
    <!-- Info boxes -->
    <div class="row">
        @*<div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">CPU Traffic</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">41,410</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>*@
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tổng đơn hàng</span>
                    <span class="info-box-number" id="generalTotalOrder">@ViewBag.TotalOrder</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Tổng khách hàng</span>
                    <span class="info-box-number" id="generalTotalCustomer"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <!-- Bar chart -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>

                    <h3 class="box-title">
                        Doanh thu tháng @DateTime.UtcNow.AddDays(7).Month
                        <button type="button" class="btn btn-default" onclick="loadShopRevenue();">
                            <i aria-hidden="true" class="fa fa-refresh action-btn m-l-10"></i>
                        </button>

                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-7" id="bar-chart"
                         style="height: 300px; padding: 0px; position: relative;">
                    </div>

                    <div class="col-md-5">
                        <br />
                        <table class="table table-responsive">
                            <tbody>
                                <tr style="background-color:#ddd;">
                                    <td><b>Chi nhánh</b></td>
                                    <td><b>Tổng đơn hàng</b></>
                                    <td><b>Tổng tiền</b></td>
                                </tr>
                            </tbody>
                            <tbody id="inMonthRevenueDetail"></tbody>
                        </table>
                        <script id="data-inMonthRevenue" type="x-tmpl-mustache">
                            <tr>
                                <td>{{Shop}}</td>
                                <td>{{TotalOrder}}</td>
                                <td>{{TotalMoney}}</td>
                            </tr>
                        </script>

                        <script id="data-inMonthRevenue-summary" type="x-tmpl-mustache">
                            <tr>
                                <td><b>Tổng</b></td>
                                <td>{{TotalOrderSummary}}</td>
                                <td>{{TotalMoneySummary}}</td>
                            </tr>
                        </script>

                    </div>
                </div>

                <!-- /.box-body-->
            </div>
            <!-- /.box -->
            <!-- Donut chart -->
            <!-- /.box -->
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">
                        Doanh thu chi tiết
                        <button type="button" class="btn btn-default" onclick="refreshFilterDetail();">
                            <i aria-hidden="true" class="fa fa-refresh action-btn m-l-10"></i>
                        </button>
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-inline" style="text-align:center">
                                <div class="form-group">
                                    <label for="email">Cửa hàng: </label>
                                    <select class="form-control" id="ddlShop">
                                        @{
                                            <option value="">-- Tất cả chi nhánh --</option>
                                            foreach (var item in allShops)
                                            {
                                                <option value="@item.Id"> @item.Name</option>
                                            }
                                        }

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="daterange-btn">Khoảng ngày: </label>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" data-filtertype="2" id="date-time-display" ></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul id="options" class="dropdown-menu" role="menu">
                                            <li data-id="1"><a href="javascript:void(0)"></a></li>
                                            <li data-id="2"><a href="javascript:void(0)">Tháng này</a></li>
                                            <li data-id="3"><a href="javascript:void(0)">Năm này</a></li>
                                            <li><a href="javascript:void(0)">Tùy chỉnh</a></li>
                                        </ul>
                                    </div>



                                </div>
                            </div>


                            <div class="col-md-12" id="revenue-bar-chart"
                                 style="height: 300px; padding: 0px; position: relative;">
                            </div>
                            <!-- /.chart-responsive -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- ./box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-text">TỔNG HÓA ĐƠN</span>
                                <h5 class="description-header" id="totalOrder"></h5>

                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 col-xs-6">
                            <div class="description-block border-right">

                                <span class="description-text">TỔNG DOANH THU</span>
                                <h5 class="description-header" id="totalMoney"></h5>

                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                          <table class="table table-responsive">
                             
                              <tbody id="tblRevenueDetail">
                                  
                              </tbody>


                          </table>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
</section>
<script id="data-template" type="x-tmpl-mustache">
    <tr style="text-align:center;vertical-align: middle;">
        <td>{{Header}}</td>
        <td>{{TotalOrder}}</td>
        <td>{{TotalCost}}</td>
        <td>
            <button data-id="{{Id}}"  onclick="viewDetail({{Id}})" class="btn btn-primary btnDetail"><i class="fa fa-eye"></i></button>
        </td>
    </tr>
    <tr id="detail_{{Id}}" hidden>
        <td colspan="9">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#EFFBFB;">
                        <th><b>Tên danh mục</b></th>
                        <th><b>Tổng số sản phẩm</b></th>
                        <th><b>Doanh thu</b></th>
                    </tr>
                </thead>
                <tbody>
                    {{{Details}}}
                    <tr>
                        <td><b>Tổng</b></td>
                        <td><b>{{TotalUnit}}</b></td>
                        <td><b>{{TotalCost}}</b></td>
                    </tr>


                </tbody>
            </table>
            <button style="float:right" type="button" onclick="closeDetail({{Id}})" class="btn btn-danger btnCloseDetail">Đóng</button>
        </td>

    </tr>
</script>


    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="searchDateTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-top:15%" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn khoảng ngày</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <label>Từ : </label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" data-date-format="dd-mm-yyyy" class="form-control pull-right" id="fromDate">
                        </div>
                        <!-- /.input group -->

                        <label> Đến :</label>

                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" data-date-format="dd-mm-yyyy" class="form-control pull-right" id="toDate">
                        </div>
                    </div>
                    <div class="form-group">

                        <!-- /.input group -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btnFilterDetail" class="btn btn-primary">Lựa chọn</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <script>
        var homeConfig = {
            filterType: 2,
            shopId: 0,
            fromDate: '',
            toDate: ''
        }
        function loadShopRevenue() {
            $.ajax({
                url: '/dashboard/GetShopRevenue',
                type: 'post',
                success: function (res) {
                    var listData = [];
                    var html = '';
                    var totalRevenue = 0;
                    var totalOrder = 0;
                    var detailTemplate = $('#data-inMonthRevenue').html();
                    var summaryTemplate = $('#data-inMonthRevenue-summary').html();
                    var colorCodes = ['#FFC300', '#FF5733', '#C70039', '#581845']
                    $.each(res.data, function (i, item) {

                        html += Mustache.render(detailTemplate, {

                            Shop: item.Shop,
                            TotalOrder: commonController.formatMoney(item.TotalOrder),
                            Address: item.Address,
                            TotalMoney: commonController.formatMoney(item.TotalMoney)
                        });

                        listData.push({ data: [['<b>' + item.Shop + '</b>', item.TotalMoney]], color: colorCodes[i] })
                        totalRevenue += item.TotalMoney;
                        totalOrder += item.TotalOrder;
                    });

                    html += Mustache.render(summaryTemplate, {
                        TotalOrderSummary: commonController.formatMoney(totalOrder),
                        TotalMoneySummary: commonController.formatMoney(totalRevenue)
                    });
                    $('#inMonthRevenueDetail').html(html);
                    var shop_data = {
                        data: listData,
                        color: '#3c8dbc'
                    }
                    console.log(shop_data);
                    $.plot('#bar-chart', listData, {
                        grid: {
                            borderWidth: 2,
                            borderColor: '#f3f3f3',
                            tickColor: '#f3f3f3'
                        },
                        series: {
                            bars: {
                                show: true,
                                align: "center",
                                barWidth: 0.8,
                                fill: true,
                                // horizontal: false
                            }
                        },
                        xaxis: {
                            mode: 'categories',
                            tickLength: 0,
                            autoscaleMargin: .02
                        },
                        yaxis: {
                            tickFormatter: function (v, axis) {

                                return '<h5>' + commonController.formatMoney(v) + '</h4>';
                            },
                        }
                    })
                }
            });
        }

        function renderRangeFilter(start, end) {
            var html = start + " đến " + end;
            $('#date-time-display').data('fromdate', start);
            $('#date-time-display').data('todate', end);
            $('#date-time-display').html(html);
            refreshFilterDetail();
        }

        $('#options li').off('click').on('click', function () {
            var selectedOption = $(this).data('id');
            var start = null;
            var end = null;
            $('#date-time-display').data('filtertype', selectedOption);
            if (selectedOption == 1) {
                start = moment().startOf('isoWeek');
                end = moment().endOf('isoWeek')
                renderRangeFilter(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'));
            }
            else if (selectedOption == 2) {
                start = moment().startOf('month');
                end = moment().endOf('month');
                renderRangeFilter(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'));
            }
            else if (selectedOption == 3) {
                start = moment().startOf('year');
                end = moment().endOf('year');
                renderRangeFilter(start.format('DD-MM-YYYY'), end.format('DD-MM-YYYY'));
            }
            else {
                $('#searchDateTime').modal('show');
                return;
            }
        });

        $('#ddlShop').off('change').on('change', function () {
            refreshFilterDetail();
        })


        $('#fromDate').datepicker({
            format: 'dd/mm/yyyy',
        });
        $('#toDate').datepicker({
            format: 'dd/mm/yyyy',
        });

        $('#btnFilterDetail').click(function () {
            var startTime = $('#fromDate').val();
            var endDate = $('#toDate').val();
            renderRangeFilter(startTime, endDate);
            $('#searchDateTime').modal('hide');
        });
        function getGeneralInfo() {


            $.ajax({
                url: '/Dashboard/GetGeneralInfo',

                type: 'post',
                success: function (res) {
                    if (res.status) {
                        var result = res.data;
                        $('#generalTotalCustomer').html(commonController.formatMoney(result.TotalCustomer));
                        $('#generalTotalOrder').html(commonController.formatMoney(result.TotalOrder));
                    }
                }
            });
        }
        function refreshFilterDetail() {
            var shopId = $('#ddlShop').val();
            var filterType = $('#date-time-display').data('filtertype');
            var fromDate = $('#date-time-display').data('fromdate');
            var toDate = $('#date-time-display').data('todate');
            filterRevenue(shopId, filterType, fromDate, toDate);
        }
        function filterRevenue(shopId, filterType, fromDate, toDate) {
            $.ajax({
                url: '/Dashboard/FilterRevenuneByPartner',
                data: {
                    Type: filterType, shopId: shopId, fromDate: fromDate, toDate: toDate
                },
                type: 'post',
                success: function (res) {
                    if (res.status) {
                        var result = res.data;
                        $('#revenue-bar-chart').empty();
                        $('#totalOrder').text(0);
                        $('#totalMoney').text(0);
                        var html = '';
                        var template = $('#data-template').html();
         

                        html += '<tr style="background-color: #ddd; text-align: center">';
                        if (filterType == 2) {
                            html += '<td> <b>Ngày </b></td>';
                        }
                        else if (filterType == 3) {
                            html += '<td> <b>Tháng</b> </td>';
                        }
                        html += '<td> <b>Tổng hóa đơn</b>  </td>';
                        html += '<td> <b>Tổng doanh thu</b>  </td>';
                        html += '<td> <b>Chi tiết</b> </td>'
                        html += '</tr>';
                        if (result.length > 0) {
                            var totalMoney = 0;
                            var totalOrder = 0;
                            $.each(result, function (i, item) {
                                html += Mustache.render(template, {
                                    Header: item.Header,
                                    Id : i,
                                    TotalOrder: commonController.formatMoney(item.TotalOrder),
                                    TotalCost: commonController.formatMoney(item.TotalMoney),
                                    Details: renderRevenueDetails(item.Details),
                                    TotalUnit: commonController.formatMoney(item.TotalUnit)
                                });
                                totalMoney += item.TotalMoney;
                                totalOrder += item.TotalOrder;


                            });


                            $('#totalOrder').text(commonController.formatMoney(totalOrder));
                            $('#totalMoney').text(commonController.formatMoney(totalMoney));
                            var bar = new Morris.Bar({
                                element: 'revenue-bar-chart',
                                resize: true,
                                data: result,
                                barColors: ['#00a65a', '#f56954'],
                                xkey: 'Header',
                                ykeys: ['TotalMoney'],
                                labels: ['Doanh thu'],
                                hideHover: 'auto'
                            });
                        }
                        $('#tblRevenueDetail').html(html);
                    }
                }
            });
        };

        loadShopRevenue();
        getGeneralInfo();
        renderRangeFilter(moment().startOf('year').format('DD-MM-YYYY'), moment().endOf('year').format('DD-MM-YYYY'));

        function renderRevenueDetails (data) {
            var html = '';
            $.each(data, function (i, item) {
                html += '<tr style="">';
                html += '<td>' + item.Type + '</td>';
                html += '<td>' + commonController.formatMoney(item.TotalUnit) + '</td>';
                html += '<td>' + commonController.formatMoney(item.TotalMoney) + '</td>';
               
                html += '</tr>';
            });
            return html;
        }

        function viewDetail(id) {
           
            $('#detail_' + id).show();
        }


        function closeDetail(id) {

            $('#detail_' + id).hide();
        }
       



    </script>

    <div id="loader"></div>
    <style>
        .daterangepicker_start_input, .daterangepicker_end_input {
            display: none;
        }
    </style>
